.containerRevenueWeek{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 2rem 0 2rem;
}

.box-RevenueWeek{
    width: 50%;
}
.box-RevenueWeek img{
    width: 90%;
}
.box-RevenueWeek:last-child{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media(max-width:500px){
    .containerRevenueWeek{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .box-RevenueWeek{
        width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
}