.container-cadastro {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-form-cadastro-login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-form-cadastro-login form {
    width: 50%;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.inputform {
    width: 95%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid silver;
    padding-left: 5px;
    margin-top: 5px;
}

.finished {
    width: 200px;
    height: 35px;
    padding: 10px;
    background-color: coral;
    color: #fff;
    border: 0;
    margin-top: 10px;
    font-size: 15px;

}

.button-toogle {
    background-color: transparent;
    border: 0;
    color: coral;
    margin-top: 20px;
}

.formanimation {
    animation: opacity 0.5s ease alternate ;
}

.formanimation2 {
    animation: opacity 0.5s ease alternate-reverse;
}

@keyframes opacity {
    to {
        transform: rotateY(1turn);
    }
}

@media(max-width:500px){
    .container-form-cadastro-login form{
        width: 95%;
    }
    .inputform{
        width: 95%;
    }
    .finished{
        width: 95%;
    }
}