.container-post-renevues{
    width: 100%;
    background-color: rgb(244, 244, 244);

}

.container-form-post{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box-input-form{
    width: 70%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 2rem;
    background-color:#fff;
    border-radius: 10px;
}
.inputformrenevues ,.inputformringredientes{
    width: auto;
    height: 40px;
    border-radius: 5px;
    border: solid silver 1.5px;
    outline: none;
    padding-left: 5px;
}
.inputformringredientes{
    display: flex;
}
.inputformringredientes input{
  width: 100%;
  border: 0;
  outline: none;
}
.inputformringredientes button{
    width: 30px;
}

.ingrediente-tag{
    background-color: coral;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.box-input-file{
    position: relative;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-input-file input{
    height: 100%;
    width: 100%;
}
.input-false{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    text-align: center;
    font-size: 18px;
    color: #fff;
    gap: 10px;
}

.box-list-files{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#btnpost{
    width: 150px;
    height: 35px;
    background-color: coral;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    transition: 0.3s ease;
}
#btnpost:hover{
    background-color: rgb(190, 96, 61);
}